@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

img {
  width: 100%;
  max-width: 100%;
}

/*-------------Header Start---------------------*/
ol,
ul {
  margin-bottom: 0px;
}

a,
.btn,
button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  font-family: Roboto-Regular;
}

a:hover,
a:focus {
  text-decoration: none;
}

.h1,
.h2,
.h3,
h1,
h2,
h3,
h4 {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  font-family: Roboto-Bold;
}

section,
footer {
  width: 100%;
  float: left;
  position: relative;
}

section {
  padding: 50px 0;
}

ul {
  padding: 0px;
}

p {
  font-size: 20px;
  font-family: Roboto-Regular;
}

/*-------------header-menu-----------------*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  padding: 0;
}

input:focus,
button:focus {
  outline: transparent;
}

/*---------------menu-list--------------------------*/

.logo {
  text-align: left;
  padding: 17px 0;
}

.logo img {
  width: 180px;
}

.menulist-item {
  text-align: center;
}

.signup-btn {
}

.signup-btn a {
  border: solid 1px #20184d;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #20184d;
}

nav#cssmenu ul {
  margin-bottom: 0 !important;
  text-align: center;
}

nav {
  position: relative;
  margin: 0 auto;
}

.bottom-header {
  position: relative;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #head-mobile {
  display: none;
}

.menulist-item .mic-inner nav#cssmenu {
  margin: unset;
  flex: 1;
}

.menulist-item .mic-inner nav#cssmenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cssmenu > ul > li > a {
  padding: 17px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #20184d;
  font-family: Roboto-Regular;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: normal;
}

#cssmenu > ul > li > a.main-menu-selected-active {
  font-weight: 700;
}

#cssmenu > ul > li a img {
  width: 17px;
  margin-right: 7px;
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color: #20184d;
}

#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
  background: transparent;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
  display: none;
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  display: none;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 999;
}

#cssmenu ul ul li {
  height: auto !important;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: #104590;
  transition: all 0.25s ease;
}

#cssmenu ul ul li:hover {
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu li:hover > ul > li {
  height: 35px;
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 19px 15px;
  width: 300px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-align: left;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333;
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

.notifications-box > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 0;
}

@media screen and (max-width: 991px) {
  nav {
    width: 100%;
  }

  #cssmenu {
    width: 100%;
  }

  #cssmenu ul {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 999999;
    background: #e3f9fd;
    border: solid 1px #cccccc;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }

  nav#cssmenu ul {
    margin-bottom: 0 !important;
    text-align: left;
  }

  #cssmenu ul {
    width: 100%;
    display: none;
  }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444;
  }

  #cssmenu ul li:hover {
    background: #ffffff;
  }

  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }

  #cssmenu > ul > li {
    float: none;
  }

  #cssmenu ul ul li a {
    padding-left: 25px;
  }

  #cssmenu ul ul li {
    background: #333 !important;
  }

  #cssmenu ul ul li:hover {
    background: #363636 !important;
  }

  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }

  #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #fff;
  }

  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }

  #cssmenu .button:after {
    position: absolute;
    top: 15px;
    right: 3px;
    display: block;
    height: 12px;
    width: 25px;
    border-top: 3px solid #8b0607;
    border-bottom: 3px solid #8a0506;
    content: "";
  }

  #cssmenu .button:before {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 5px;
    right: 3px;
    display: block;
    height: 3px;
    width: 25px;
    background: #8c0708;
    content: "";
  }

  .notifications-box {
    margin-right: 7px;
  }

  .notifications-box > a {
    padding: 3px 0;
    font-size: 12px;
  }

  .bottom-header .menu-logo {
    width: auto;
    padding-right: 0;
  }

  .bottom-header .menulist-item {
    flex: 1;
    position: unset;
  }

  #cssmenu .button.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #8b0607;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #cssmenu .button.menu-opened:before {
    top: 23px;
    background: #890405;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }

  .menulist-item .mic-inner nav#cssmenu .button {
    position: relative;
    height: 30px;
    width: 30px;
  }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }

  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }

  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
  }

  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
  }

  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }

  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }

  #cssmenu ul ul ul li.active a {
    border-left: none;
  }

  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
}

.cart-sign-in {
  display: inline-block;
}

.cart-sign-in button#dropdownMenuButton {
  background: transparent;
  border: transparent;
  padding: 0 4px;
}

.cart-sign-in .dropdown img {
  width: 27px;
}

.dropdown {
  float: right;
}

.cart-sign-in {
  display: inline-block;
  padding-top: 25px;
}

.cart-sign-in .fa {
  color: #2d2c71;
  padding-top: 13px;
  padding: 11px 5px;
}

.cart-sign-in a.dropdown-item {
  width: 100%;
  display: inline-block;
  padding: 10px;
  color: #000000;
}

.cart-sign-in button#dropdownMenuButton:focus {
  border: transparent;
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/*----------------------slider------------------------*/
.home_slider.bid-slider a {
  background: #d5f5ff !important;
}

.home_slider .carousel-caption {
  width: 100%;
  right: 0 !important;
  left: 0;
  padding: 0;
  bottom: unset !important;
  top: 0px;
  height: 100%;
  background-color: #00000050;
}

.home_slider .carousel-caption a {
  background: #ffffff;
  color: #20184d;
  padding: 8px 30px;
  border-radius: 100px;
  display: inline-block;
  font-size: 16px;
  font-family: Roboto-Regular;
  text-transform: uppercase;
  font-weight: bold;
}

.home_slider .carousel-caption .banner-innner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.home_slider .carousel .carousel-indicators {
  display: flex;
  margin: 0;
  justify-content: center;
  bottom: 15px;
}

.home_slider .carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
}

.home_slider .carousel .carousel-indicators button.active {
  background-color: #ef493e;
}

.home_slider.hs-sl .carousel .carousel-indicators {
  display: none;
}

.home_slider.hs-sl .carousel a.carousel-control-prev,
.home_slider.hs-sl .carousel a.carousel-control-next {
  display: none;
}

.home_slider .carousel-caption .banner-innner .hss-info {
  text-align: center;
}

img.bg-banner {
  height: 380px !important;
  object-fit: cover;
}

.bid-slider img.bg-banner {
  height: 330px !important;
}

.home_slider h3 {
  color: #fff;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.home_slider p {
  color: #ffffff;
  font-size: 17px;
  margin-top: 10px;
}

.home_slider .carousel-control {
  background-image: unset;
}

.banner-innner {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 57px;
  display: inline-block;
  max-width: 100%;
}

.live-bid.live-bid-page.normal-ads {
  padding-top: 0;
}

.breadcrumb-products {
  padding-top: 0;
}

/*----------cat------------------*/
.live-bid {
  padding-top: 0;
}

.our-categories {
  text-align: center;
  margin-bottom: 50px;
}

.our-categories h2 {
  font-size: 20px;
  color: #2d2c71;
  margin-top: 20px;
}

.our-categories a {
  color: #2d2c71;
  display: block;
}

.our-categories img {
  width: 150px;
  height: 115px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

/*--------------about-us-------------*/

.heading .bar,
.see-more .bar2 {
  height: 4px;
  width: 45px;
  background: #ee1827;
  margin: 20px 0 25px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.heading .bar::before,
.see-more .bar2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background: #707070;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

.see-more {
  text-align: center;
}

.see-more .bar2 {
  height: 4px;
  width: 45px;
  background: #ee1827;
  margin: 20px auto 25px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(85px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(85px);
    transform: translateX(85px);
  }
}

.see-more a {
  font-weight: bold;
  color: #000000;
  font-size: 24px;
}

/*--------------live bid--------------------*/
.live {
  display: inline-block;
  width: 100%;
}

.live img {
  width: 60px;
}

.live a {
  display: inline-block;
  border: solid 2px #707070;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  box-shadow: 0px 8px 7px rgb(0 0 0 / 50%);
  float: right;
}

.live a img {
  width: 20px !important;
}

.bid-heading h2 {
  font-size: 14px;
}

.date-time ul li img {
  width: 15px;
}

.date-time ul li {
  list-style: none;
  font-size: 13px;
  font-weight: bold;
  color: #2d2c71;
}

.date-time ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: #2d2c71;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 6px;
}

li.loc {
  color: #000000 !important;
}

.live-bid-content {
  border-bottom: solid 1px #707070;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.live-bid-content .live {
  flex: 1;
}

.live-bid .lbc-outer {
  margin-bottom: 30px;
}

/*-----------------product page-----------------*/

.breadcrumb-products .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}

.breadcrumb-products .breadcrumb a {
  color: #000000;
  font-size: 16px;
}

.cart-btn-left {
  display: inline-block;
  float: left;
}

.cart-btn {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
}

.cart-btn-right {
  display: inline-block;
  float: right;
  color: #000000;
  font-weight: bold;
}

.cart-btn-right ul li img {
  width: 20px;
  margin-right: 10px;
}

.cart-btn-right ul li {
  list-style: none;
  line-height: 30px;
}

.cart-btn-right ul li a {
  color: #000000;
}

.cart-btn-left a {
  padding: 8px 17px;
  display: inline-block;
  text-align: center;
  border: solid 1px #333275;
  margin: 0 auto 20px;
  font-weight: bold;
}

.related-products-box {
  padding-top: 0;
}

a.add-cart {
  background: #333275;
  color: #ffffff;
}

a.bid-amount {
  color: #333275;
}

.product-desc p {
  color: #5a5a5a;
  font-size: 15px;
  padding-bottom: 10px;
}

.product-desc ul {
  padding: 10px 0 20px;
  padding-left: 30px;
}

.product-desc ul li {
  padding-bottom: 10px;
  font-size: 14px;
  color: #5a5a5a;
  list-style: none;
  position: relative;
}

.product-desc ul li:after {
  position: absolute;
  left: 0;
  content: "";
  height: 9px;
  width: 9px;
  background: #9b9b9b;
  left: -19px;
  top: 5px;
  border-radius: 100px;
}

.product-desc b {
  color: #5a5a5a;
}

.our-products-details {
  padding-top: 0;
}

.breadcrumb-products {
  padding-bottom: 0;
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

.review-1 {
  display: inline-block;
  width: 100%;
}

.review-img img {
  width: 80px;
}

.review-img {
  display: inline-block;
  width: 20%;
  float: left;
}

.review-con {
  display: inline-block;
  width: 78%;
}

.related-review .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
  color: #333275;
}

.related-review .review-1 {
  display: inline-block;
  width: 100%;
  padding: 0 0 40px;
}

.tab-pane p {
  font-size: 15px;
  line-height: 30px;
  color: #555555;
}

.star-1 h2 {
  padding: 0;
  margin: 10px 0;
  color: #555555;
  display: inline-block;
}

.review-con span {
  font-weight: bold;
}

.our-star {
  background: #272727;
  padding: 4px 10px;
  position: relative;
  float: right;
}

.our-star ul li {
  list-style: none;
  display: inline-block;
}

.our-star ul li .fa {
  color: #fab40a;
}

.our-star:after {
  transform: skew(-26deg);
  position: absolute;
  content: "";
  background: #272727;
  width: 100px;
  height: 28px;
  top: 0;
  z-index: -1;
}

.review-con p {
  font-size: 15px;
  color: #686868;
  line-height: 30px;
}

div#exTab2 .nav-tabs > li > a {
  font-size: 18px;
}

.rate-point {
  display: inline-block;
  float: right;
}

.rate-point span {
  padding: 10px;
  position: relative;
  top: 3px;
  border-top-right-radius: 10px;
  position: relative;
  color: #ffffff;
}

.rate-point span:after {
  transform: skew(-18deg);
  position: absolute;
  content: "";
  background: #e69a18;
  width: 49px;
  height: 28px;
  top: 5px;
  z-index: -1;
  left: 0;
  border-top-right-radius: 1px;
}

div#exTab2 .tab-content {
  padding: 50px 0;
}

.lode-more-review {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.lode-more-review a {
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  border: solid 1px #333275;
  margin: 0 auto 20px;
  font-weight: bold;
  background: #333275;
  color: #ffffff;
}

.line-right {
  border-right: solid 1px #cccccc;
  padding-right: 40px;
}

.review-1.line-right {
  padding-right: 40px;
}

.related-review {
  padding-bottom: 0;
}

@media screen and (max-width: 400px) {
  .sp-wrap {
    margin: 0 0 15px 0;
  }

  #sp-prev,
  #sp-next {
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
}

/*------------- Slide Design of Cart & Wishlist -------------*/
.w3-ch-sideBar {
  height: 100%;
  max-width: 360px;
  min-width: 300px;
  background-color: #fff;
  position: fixed !important;
  top: 0;
  z-index: +2000;
  overflow: auto;
  -webkit-box-shadow: 0 2px 10px 0 #d8dde6;
  box-shadow: 0 2px 10px 0 #d8dde6;
  position: relative;
  animation: animateright 0.4s;
  right: 0;
  bottom: 0;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.slide-head {
  background: #f4f5f7;
}

.close_slide {
  background: #ffffff;
  border: none;
  width: 26px;
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  padding: 0;
  cursor: pointer;
}

.close_slide.gray {
  background: #f4f5f7 !important;
}

/*------------- Testimonials ----------*/
.sng_rev_thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0 auto 0.5rem;
}

.rev_desc {
  position: relative;
}

.rev_desc:before {
  content: "\f10d";
  font-family: "FontAwesome";
  left: 0px;
  top: -50px;
  font-size: 49px;
  position: absolute;
  z-index: 1;
  color: #d9e0e4;
  display: block;
}

.d_ico i {
  color: #000000;
  font-size: 30px;
  margin-right: 0.6rem;
}

.d_capt h5 {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
}

.sp-large {
  overflow: hidden;
}

.sp-large img:hover {
  transform: scale(1.5);
}

/*--------------footer---------------------*/

footer {
  background: #2d2c71;
  padding: 50px 0;
}

h1.footer-heading {
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 20px;
}

.footer-1 ul li {
  list-style: none;
}

.footer-1 ul li a {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
}

.footer-1 p {
  color: #ffffff;
  font-size: 15px;
}

.footer-1 input {
  padding: 10px;
  width: auto;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  color: #000000;
  border-radius: 8px;
  font-size: 16px;
  border: solid 2px #000000;
}

.footer-1 input::placeholder {
  color: #000000;
}

/*------------------sidebar-menu-------------*/
.live-bid-content.bid-new h2 {
  font-size: 13px;
}

.sidebar-navigation {
  height: auto;
  background-color: #fff;
  margin: 50px auto;
}

.sidebar-navigation .title {
  display: block;
  font-size: 1.2em;
  background-color: #1e1e1e;
  padding: 20px 25px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-navigation > ul > li > a {
  text-transform: uppercase;
}

.sidebar-navigation ul {
  margin: 0;
  padding: 0;
}

.sidebar-navigation ul li {
  display: block;
  word-break: break-all;
}

.sidebar-navigation ul li a {
  position: relative;
  display: block;
  font-size: 1em;
  font-weight: 600;
  padding: 20px 25px 20px 20px;
  text-decoration: none;
  color: #20184d;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #555555;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar-navigation ul li a .fa {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 50%;
  color: #20184d;
}

.sidebar-navigation ul li:hover > a,
.sidebar-navigation ul li.selected > a {
  background-color: #ecf0f1;
  color: #495d62;
  border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navigation ul li ul {
  display: none;
}

.sidebar-navigation ul li ul.open {
  display: block;
}

.sidebar-navigation ul li ul li a {
  color: #495d62;
  border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navigation ul li ul li a:before {
  content: "";
  width: 10px;
  height: 1px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #495d62;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.sidebar-navigation ul li ul li:hover > a,
.sidebar-navigation ul li ul li.selected > a {
  background-color: #e6ebed;
}

.sidebar-navigation ul li ul li:hover > a:before,
.sidebar-navigation ul li ul li.selected > a:before {
  margin-right: 10px;
}

.sidebar-navigation ul li ul li.selected.selected--last > a {
  background-color: #94aab0;
  color: #fff;
}

.sidebar-navigation ul li ul li.selected.selected--last > a:before {
  background-color: #fff;
}

.subMenuColor1 {
  background-color: #fbfcfc;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.subMenuColor2 {
  background-color: white;
}

.live-bid.live-bid-page {
  padding-top: 50px;
}

section.live-bid.live-bid-page h2 {
  color: #20184d !important;
}

.live-bid-page .date-time ul li {
  font-size: 12px;
}

.home_slider.bid-slider h3 {
  background: transparent;
  padding: 0;
}

.product-slider .carousel-inner {
  position: relative;
  width: 100%;
  box-shadow: 0 0 37px rgb(0 0 0 / 30%);
  min-height: auto;
}

.product-slider .carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}

.product-slider .carousel-control.left {
  left: 0;
  right: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}

.product-slider #carousel-example-generic {
  margin: 20px auto;
  width: 100%;
}

.product-slider #carousel-custom {
  margin: 20px auto;
}

.product-slider #carousel-custom .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.product-slider #carousel-custom .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}

.product-slider #carousel-custom .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

.product-slider #carousel-custom .carousel-indicators li.active img {
  opacity: 1;
}

.product-slider #carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
}

.product-slider #carousel-custom .carousel-outer {
  position: relative;
}

.product-slider .carousel-indicators li img {
  height: auto;
  width: 52px;
}

.product-slider ol.carousel-indicators.mCustomScrollbar.meartlab li img {
  border: solid 1px #8f8f8f;
  padding: 2px;
}

.user-menu {
  position: relative;
  z-index: 99;
  margin-right: 15px;
  margin-left: 10px;
}

.user-menu .language-dropdown a.ld-btn::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 13px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #2d2c71;
  border-bottom: 2px solid #2d2c71;
  transform: rotate(45deg);
}

.user-menu .language-dropdown a.ld-btn {
  display: flex;
  align-items: center;
  border: solid 1px #20184d;
  padding: 9px 10px;
  border-radius: 5px;
  color: #20184d;
  padding-right: 30px;
  position: relative;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .bid-heading h2 {
    font-size: 16px;
  }

  .date-time ul li {
    font-size: 12px !important;
  }

  .live a {
    padding: 2px 14px;
    font-size: 16px;
  }

  .live a img {
    width: 20px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .bid-heading h2 {
    font-size: 15px;
  }

  .date-time ul li {
    font-size: 13px;
  }

  #cssmenu > ul > li > a {
    padding: 17px 12px;
    font-size: 12px;
  }

  .live a {
    padding: 2px 14px;
    font-size: 16px;
  }

  .live a img {
    width: 21px !important;
  }

  .home_slider .carousel-caption {
    bottom: -59px;
  }

  .home_slider .carousel-caption a {
    padding: 8px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .bid-heading h2 {
    font-size: 15px;
  }

  .date-time ul li {
    font-size: 13px;
  }

  #cssmenu > ul > li > a {
    padding: 17px 12px;
    font-size: 12px;
  }

  .live a {
    padding: 2px 14px;
    font-size: 16px;
  }

  .live a img {
    width: 21px !important;
  }

  .home_slider .carousel-caption .banner-innner .hss-info {
    text-align: center;
    padding: 50px 0;
  }

  .home_slider .carousel-caption a {
    background: #d5f5ff;
    color: #20184d;
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .home_slider h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menulist-item .mic-inner nav#cssmenu ul.closeMob {
    display: none;
  }

  .home_slider .carousel-caption .banner-innner .hss-info {
    text-align: center;
    padding: 50px 0;
  }

  .container {
    width: 750px;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .logo {
    padding: 17px 0;
    display: inline-block;
  }

  .logo img {
    width: 90px;
  }

  .bid-heading h2 {
    font-size: 15px;
  }

  .live-bid-content {
    padding: 20px 15px;
  }

  .date-time ul li {
    font-size: 13px;
  }

  .live a {
    border-radius: 10px;
    font-size: 14px;
  }

  .live a img {
    width: 20px !important;
  }

  .home_slider .carousel-caption a {
    background: #d5f5ff;
    color: #20184d;
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .home_slider h3 {
    font-size: 20px;
  }

  .banner-innner {
    padding-bottom: 0;
  }

  .Categories {
    padding-bottom: 0;
  }

  .our-categories {
    margin-bottom: 0px;
  }

  .our-categories h2 {
    font-size: 13px;
  }

  .our-categories img {
    width: 100px;
  }

  .cart-sign-in {
    display: inline-block;
    padding-top: 0;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .cart-sign-in button#dropdownMenuButton {
    font-size: 12px;
  }

  .cart-sign-in .dropdown img {
    width: 19px;
  }

  .cart-sign-in .fa {
    color: #2d2c71;
    padding-top: 13px;
    padding: 11px 0px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .menulist-item .mic-inner nav#cssmenu ul.closeMob {
    display: none;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .user-menu .language-dropdown a.ld-btn {
    padding: 4px 10px;
    padding-right: 25px;
  }

  .user-menu .language-dropdown a.ld-btn::after {
    top: 7px;
    width: 9px;
    height: 9px;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3,
  h4 {
    font-size: 21px;
  }

  .our-categories {
    margin-bottom: 0px;
  }

  .our-categories img {
    width: 100px;
  }

  .Categories {
    padding-bottom: 0;
  }

  .our-categories h2 {
    font-size: 13px;
  }

  .logo {
    padding: 17px 0;
    display: inline-block;
  }

  .logo img {
    width: 90px;
  }

  .signup-btn a {
    padding: 5px 10px;
    margin-right: 0;
    font-size: 12px;
  }

  .bid-heading h2 {
    font-size: 15px;
  }

  .live-bid-content {
    padding: 20px 15px;
  }

  .date-time ul li {
    font-size: 13px;
  }

  .live a {
    border-radius: 10px;
    font-size: 14px;
  }

  .live a img {
    width: 20px !important;
  }

  .home_slider .carousel-caption a {
    background: #d5f5ff;
    color: #20184d;
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .home_slider h3 {
    font-size: 20px;
  }

  .banner-innner {
    padding-bottom: 0;
  }

  .review-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .rate-point {
    margin-bottom: 11px;
  }

  .rate-point {
    display: inline-block;
    float: none;
  }

  .review-1.line-right {
    padding-right: 0;
  }

  .review-con {
    width: 100%;
  }

  .star-1 h2 {
    width: 100%;
  }

  .line-right {
    border-right: unset;
    padding-right: 10px;
  }

  .breadcrumb-products {
    padding-top: 0;
  }

  .cart-sign-in {
    display: inline-block;
    padding-top: 0;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .cart-sign-in button#dropdownMenuButton {
    font-size: 12px;
  }

  .cart-sign-in .dropdown img {
    width: 19px;
  }

  .cart-sign-in .fa {
    color: #2d2c71;
    padding-top: 13px;
    padding: 11px 0px;
    font-size: 12px;
  }

  h1.footer-heading {
    font-size: 12px;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
  }

  .footer-1 ul li a {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
  }

  .footer-1 p {
    color: #ffffff;
    font-size: 12px;
  }

  footer {
    padding: 4px 0;
  }

  .live-bid.live-bid-page.normal-ads,
  .live-bid {
    padding-bottom: 0;
  }

  .cart-btn-right {
    float: none;
  }

  .cart-btn-left {
    width: 100%;
  }

  .footer-1 input {
    padding: 5px;
    font-size: 11px;
  }

  .home_slider .carousel-caption .banner-innner .hss-info {
    text-align: center;
    padding: 50px 0;
  }

  .user-menu .language-dropdown a.ld-btn span.englishcolor {
    display: none;
  }

  .user-menu {
    margin-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .menulist-item .mic-inner nav#cssmenu {
    margin: unset;
    flex: unset;
    width: auto;
    order: 1;
    display: flex;
    position: unset;
  }

  .menulist-item .mic-inner {
    justify-content: flex-end;
    padding-right: 7px;
  }

  .menulist-item .mic-inner nav#cssmenu ul.openMob {
    display: block;
    right: 0;
    width: 100%;
    top: 100%;
  }
}

.menulist-item .mic-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.signup-btn a {
  display: block;
}

.user-menu .language-dropdown {
  position: relative;
}

.notifications-box {
  position: relative;
}

.notifications-box .dropdown-menu.notifications {
  z-index: 99999999;
  background-color: #fff;
}

.notifications .media {
  width: 100%;
  align-items: center;
}

.notifications .media span.avatar-ws {
  width: 100px;
  height: 100px;
  display: flex;
}

.notifications .media span.avatar-ws img {
  height: auto;
  object-fit: contain;
}

.notifications .media .media-body {
  padding-left: 12px;
}

.notifications .media .media-body .nb-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.notifications .media .media-body .nb-stitle {
  color: #2d2c71;
  font-size: 15px;
  font-weight: 500;
}

.user-menu .language-dropdown a.ld-btn img.img-language {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.user-menu .language-dropdown a.ld-btn span.englishcolor {
  font-size: 12px;
  color: #2d2c71;
  padding-left: 10px;
}

.user-menu .language-dropdown .dropdown-menu a.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user-menu .language-dropdown .dropdown-menu a.dropdown-item img.img-language {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.user-menu .language-dropdown .dropdown-menu a.dropdown-item span {
  flex: 1;
  padding-left: 10px;
  color: #000;
}

.user-menu .language-dropdown .dropdown-menu a.dropdown-item.di-active {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}

.home_slider .visually-hidden,
.home_slider .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.live-bid-content img.live-bid-img {
  height: 127px;
  object-fit: cover;
  object-position: center;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-1 input[type="submit"] {
  font-weight: 400;
  font-family: "Roboto-Regular";
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1170px;
}

.reg-log-form-outer-box .modal-header {
  position: relative;
  justify-content: center;
}

.reg-log-form-outer-box .modal-header .login-form-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reg-log-form-outer-box .modal-header button.close {
  position: absolute;
  margin: 0;
  padding: 2px 11px;
  line-height: normal;
  top: 10px;
  right: 10px;
}

.reg-log-form-outer-box form {
  padding: 1rem 1rem;
  display: block;
}

.reg-log-form-outer-box form .login-form-inner-s1 .lf-input1 input {
  padding: 10px;
  height: auto;
  font-size: 14px;
  font-weight: 300;
}

.reg-log-form-outer-box form .login-form-inner-s1 .lf-input2,
.reg-log-form-outer-box form .login-form-inner-s1 .lf-input3,
.reg-log-form-outer-box form .login-form-inner-s1 .lf-input5 {
  margin-top: 16px;
}

.reg-log-form-outer-box form .login-form-inner-s1 .lf-input2 input,
.reg-log-form-outer-box form .login-form-inner-s1 .lf-input3 input,
.reg-log-form-outer-box form .login-form-inner-s1 .lf-input5 input {
  padding: 10px;
  height: auto;
  font-size: 14px;
  font-weight: 300;
}

.reg-log-form-outer-box .modal-header .login-form-logo img.login-form-logo-img {
  max-width: 150px;
  width: 100%;
}

.reg-log-form-outer-box form .login-form-inner-s1 .lf-lw {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.reg-log-form-outer-box form .login-form-inner-s1 .lf-lw .lflw-line {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.reg-log-form-outer-box
  form
  .login-form-inner-s1
  .lf-lw
  .lflw-gm
  button.gmail-icon {
  border: 1px solid #ddd !important;
  box-shadow: unset !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.reg-log-form-outer-box form .login-form-inner-s1 .create-account-wrap {
  text-align: center;
  font-size: 16px;
  color: #000;
}

.reg-log-form-outer-box form .login-form-inner-s1 .create-account-wrap a {
  color: #2d2c71;
  font-weight: 500;
}

.reg-log-form-outer-box form .login-form-inner-s1 .account-footer {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 5px;
}

.reg-log-form-outer-box form .login-form-inner-s1 .account-footer a {
  color: #ef493e;
  font-weight: 500;
}

.signup-btn a {
  cursor: pointer;
}

.see-more a {
  cursor: pointer;
}

.sidebar-navigation ul li label {
  margin: 0;
  display: flex;
}

.sidebar-navigation ul li span.rangeNum {
  padding-top: 15px;
  display: block;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}

.sidebar-navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.sidebar-navigation ul li.snodata {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}

.notifications .noti-content .noti-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
}

.auction-loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auction-loader .loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #2d2c71;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.NoAuctionData {
  max-height: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #2d2c71;
}

.bose-heading {
  text-align: left;
  margin: 0 auto;
}

.bose-heading h1 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.search-product-outer {
  display: flex;
  justify-content: flex-end;
}

.search-product {
  position: relative;
}

.search-product input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #7f7dfb;
  width: 300px;
  background: #ffffff;
  max-width: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.search-product button {
  background: #2d2c71;
  color: white;
  font-size: 16px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  right: 0px;
  padding: 4px 15px;
  top: 0;
  bottom: 0;
}

.bid-list-bose-comfrt {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 0.25px #555555;
}

.bid-list-img {
  display: flex;
  justify-content: center;
}

.bid-list-img img.live-bid-img {
  width: 160px;
  height: 92px;
  object-fit: contain;
}

.bid-list-h1 {
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.bid-list-p {
  font-size: 12px;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
}

.date-time ul li {
  font-size: 12px;
  font-weight: 00;
  display: flex;
  align-items: center;
  line-height: normal;
}

.date-time ul li span.bid-list-date {
  padding-left: 5px;
}

ul.bid-list-event {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.bid-list-event li {
  width: 50%;
  margin: 5px 0;
}

ul.bid-list-event li a {
  display: flex;
  align-items: center;
}

ul.bid-list-event li a span {
  flex: 1;
  padding-left: 5px;
}

ul.bid-list-event li a {
  display: flex;
  align-items: center;
  color: #2d2c71;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .bose-heading h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .search-product-outer .search-product {
    width: 100%;
  }

  .search-product-outer .search-product input[type="text"] {
    width: 100%;
    border-radius: 100px;
    padding: 10px 15px;
    padding-right: 55px;
  }

  .search-product-outer {
    margin-bottom: 25px;
  }

  .bose-quiet .bid-list-img {
    width: 50%;
    justify-content: flex-start;
  }

  .bid-list-img img.live-bid-img {
    width: auto;
  }

  .bose-quiet .bid-list-sec1 {
    width: 50%;
    padding-left: 0;
  }

  .bose-quiet .bid-list-sec2 {
    margin-top: 15px;
    margin-bottom: 8px;
  }

  .bose-quiet .bid-list-sec3 {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .bose-heading h1 {
    text-align: left;
  }

  .bose-quiet .bid-list-img {
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: flex-start;
  }

  .bose-quiet .bid-list-sec1 {
    padding-left: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .bose-quiet .bid-list-sec2 {
    flex: 0 0 33%;
    max-width: 33%;
    margin: 0;
    margin-top: 20px;
  }

  .bose-quiet .bid-list-sec3 {
    flex: 0 0 22%;
    max-width: 22%;
    margin: 0;
    margin-top: 20px;
  }

  .bose-quiet .bid-list-sec4 {
    flex: 0 0 45%;
    max-width: 45%;
    margin: 0;
    margin-top: 20px;
  }

  .date-time.bid-list-date-time ul li {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  ul.bid-list-event li {
    width: 100%;
    margin: 5px 0;
  }
}

.bose-quiet .addpro-s1-box {
  display: flex;
  justify-content: center;
}

.bose-quiet .addpro-s1-box .addpro-s1-box-txt {
  max-width: 250px;
  width: 100%;
  border: 3px solid #2d2c71;
  padding: 10px;
  min-height: 150px;
  border-radius: 15px;
  text-align: center;
  color: #2d2c71;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Bold";
  font-size: large;
  cursor: pointer;
  transition: all ease 0.3s;
}

.bose-quiet .form-input {
  width: 100%;
  height: 300px;
  background: #fff;
  box-shadow: 0 0 37px rgb(0 0 0 / 30%);
  min-height: auto;
  border-radius: 25px;
  overflow: hidden;
}

.bose-quiet .form-input1 {
  margin: 0;
  margin-top: -45px;
}

.bose-quiet .form-input1 input {
  display: none;
}

.bose-quiet .form-input1 label {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  background: #1172c2;
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.bose-quiet .form-input input {
  display: none;
}

.bose-quiet .form-input label {
  display: block;
  width: 45%;
  height: 45px;
  margin-left: 25%;
  line-height: 50px;
  text-align: center;
  background: #1172c2;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.bose-quiet .form-input img {
  width: 555px;
  height: 300px;
  display: none;
  object-fit: contain;
  margin: 0 auto;
}

/*2*/
.bose-quiet .form-input2,
.bose-quiet .form-input3,
.bose-quiet .form-input4,
.bose-quiet .form-input5 {
  width: 100px;
  padding: 20px;
  background: #fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
    3px 3px 7px rgba(94, 104, 121, 0.377);
  border-radius: 8px;
  position: relative;
}

.bose-quiet .form-input2 input,
.bose-quiet .form-input3 input,
.bose-quiet .form-input4 input,
.bose-quiet .form-input5 input {
  display: none;
}

.bose-quiet .form-input2 label,
.bose-quiet .form-input3 label,
.bose-quiet .form-input4 label,
.bose-quiet .form-input5 label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  color: #14135f;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.bose-quiet .form-input2 label.form-input-view,
.bose-quiet .form-input3 label.form-input-view,
.bose-quiet .form-input4 label.form-input-view,
.bose-quiet .form-input5 label.form-input-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  color: #fff;
  background-color: #00000050;
}

.bose-quiet .form-input2 img,
.bose-quiet .form-input3 img,
.bose-quiet .form-input4 img,
.bose-quiet .form-input5 img {
  width: 60px;
  height: 60px;
  display: none;
  object-fit: contain;
}

.bose-quiet .form-input5 video {
  width: 60px;
  height: 60px;
  display: none;
  object-fit: contain;
}

.bose-quiet .bottom-img ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.bose-quiet .bottom-img ul li {
  margin-right: 30px;
}

.bose-quiet .bottom-img ul li:last-child {
  margin-right: 0;
}

.bose-quiet .add-my-product h1 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 29px;
}

.bose-quiet .products-form {
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  display: inline-block;
  padding: 30px 20px;
  border-radius: 10px;
  width: 100%;
}

.bose-quiet .products-form input,
.bose-quiet .products-form select,
.bose-quiet .products-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border: solid 1px #14135f;
  border-radius: 10px;
  height: auto;
  font-weight: 400;
  font-family: "Roboto-Regular";
}

.bose-quiet .products-form input.post-submit {
  width: auto !important;
  padding: 10px 30px !important;
  background: #333275;
  color: #ffffff;
  font-size: 20px !important;
  text-transform: uppercase;
  border-radius: 100px !important;
}

.full-page-loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000008a;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .bose-quiet .bottom-img ul li {
    margin: 15px;
  }

  .bose-quiet .bottom-img ul li:last-child {
    margin-right: 15px;
  }

  .add-my-product {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bose-quiet .bottom-img ul li {
    margin: 15px;
  }

  .bose-quiet .bottom-img ul li:last-child {
    margin-right: 15px;
  }

  .bose-quiet .products-form .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.bose-quiet .form-input-outer {
  position: relative;
}

.bose-quiet .form-input-outer .form-input1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.amp-golivenow-img {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

section.bose-quiet .amp-prod_noimg {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  color: #ef493e;
}

.form-time_err {
  font-size: 11px;
  padding-top: 10px;
  font-weight: 300;
  color: #ef493e;
}

.bose-quiet .products-form .post-btn.form-group {
  margin: 0;
  display: flex;
  justify-content: center;
}

.product-slider {
  position: relative;
  width: 100%;
  box-shadow: 0 0 37px rgb(0 0 0 / 30%);
  min-height: auto;
  border-radius: 4px;
}

.product-slider .ps-info .live-bid-prodimg {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.product-slider-nav {
  margin-top: 25px;
}

.product-slider-nav .psn-item {
  border: 1px solid #ddd;
  cursor: pointer;
  height: 50px;
}

.product-slider-nav .psn-item .live-bid-prodimg {
  height: 50px;
  object-fit: contain;
}

.product-slider-nav .slick-list .slick-slide {
  padding: 0 7px;
}

.product-slider button.slick-prev {
  left: 20px;
  z-index: 9;
}

.product-slider button.slick-next {
  right: 20px;
  z-index: 9;
}

.product-slider button.slick-prev:before,
.product-slider button.slick-next:before {
  color: #00000050;
}

.products-details-new .bid-form form {
  display: flex;
  flex-wrap: wrap;
}

.products-details-new .bid-form form input.form-control {
  width: 100%;
  padding: 10px;
  height: auto;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
}

.products-details-new .bid-form form textarea.form-control {
  width: 100%;
  padding: 10px;
  height: auto;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  margin: 15px 0;
}

.products-details-new .bid-form form button {
  padding: 10px 50px;
  border: 0;
  background-color: #333275;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}

.bid-form .join-btn {
  display: flex;
}

.bid-form .join-btn button {
  padding: 10px 15px;
  border: 0;
  background-color: #333275;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}

.products-details-new h1 {
  text-transform: capitalize;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.row.review-list .rl-col:nth-child(odd) .review-1 {
  border-right: solid 1px #cccccc;
}

.row.review-list .rl-col:last-child .review-1 {
  border-right: 0;
}

.related-review .no-review {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #2d2c71;
}

.Comment-btn {
  display: flex;
  padding-top: 15px;
}

.Comment-form label {
  display: block;
  margin-top: 0;
  font-size: 16px;
}

.Comment-form textarea.form-control {
  width: 100%;
}

.review-con .review-nenb {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.review-con .review-nenb span {
  display: inline-block;
  min-width: 100px;
}

#otpModalForgot h3.size18.mt-0 {
  font-size: 18px;
  text-align: center;
}

div#otpModalForgot .modal-content form {
  display: block;
  padding: 15px;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .products-details-new {
    padding-top: 50px;
  }

  .related-review ul.nav.nav-tabs {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
  }

  .row.review-list .rl-col:nth-child(odd) .review-1 {
    border-right: 0;
  }

  .home_slider.product-info-slider img.bg-banner {
    height: auto !important;
  }
  .home_slider.ap-hero img.bg-banner {
    height: auto !important;
  }
}

.cp-logo,
.abu-logo {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.cp-logo a,
.abu-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cp-logo a img {
  max-width: 300px;
  width: 100%;
}

.abu-logo a img {
  max-width: 200px;
  width: 100%;
}

h2.abu-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}
.abu-content {
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
  padding: 25px 20px;
}

.abu-content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.abu-content *:last-child {
  margin-bottom: 0;
}

.abu-content ul {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
